{% if subject %}
{{shift}} shift has no signed in techs
{% else %}
@TechLeads: no techs assigned for {{shift}} have signed in. [Expecting](https://api.protohaven.org/techs#cal) any of:

{% for t in onduty  %}
- {% if t.discord_user %}@{{t.discord_user}}{% else %}{{t.name}}
  ({{','.join(t.emails)}}){% endif %}

{% endfor %}

Please check immediately for techs on duty.
{% if door_states is defined and door_states|length > 0 %}

Current door states:
{% for door in door_states %}
- {{door.name}}: {% if door.open_close_state %}OPEN{% else %}CLOSED{% endif %}{% if not door.is_online %} (offline){% endif %}
{% endfor %}
{% endif %}
{% if footer is defined %}

{{footer}}
{% endif %}
{% endif %}
